body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #333;
    color: white;
}

tr:hover {
    background-color: #6c6565;
}

button {
    padding: 5px 10px;
    border: black;
    background: color #8b0000;
    color: rgb(0, 0, 0);
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: rgb(119, 5, 5);
}

#cameraModal {
    width: 400px;
    height: 300px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 2;
    display: none;
    padding: 10px;
}

#video {
    width: 100%;
    border-radius: 8px;
}

#photosPreview img {
    width: 100px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.2s;
}

#photosPreview img:hover {
    transform: scale(1.1);
}
